/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

.app-wrapper {
    height: 100vh;
    width: 100%;
}

.white {
    color: white;
}

.grey {
    color: grey;
}

.main-content-wrapper {
    width: 95%;
    margin: auto;
}

.main-nav-wrapper {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto;
}

.footer-wrapper {
    width: 98%;
    margin: auto;
}

.radius {
    border-radius: 50%;
}

.m-10 {
    margin: 0 10px;
}

.m-20 {
    margin: 0 20px;
}


/* MAIN */
main {
    width: 100%;
    height: calc(100% - 80px);
    overflow-y: auto;
}

.upgrade-bar {
    height: 80px;
    width: calc(100% - 250px);
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.btn-upgrade {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    color: white;
    font-weight: 600;
    border: 1px solid white;
    padding: 14px 36px;
    border-radius: 24px;
    position: absolute;
    top: 15px;
    right: 20px;
}

.btn-upgrade:hover {
    transform: scale(1.1);
}

.col {
    float: left;
}

/* MAIN NAV */
.main-nav {
    height: 100%;
    width: 250px;
    background-color: black;
    overflow-y: auto;
}

.nav-logo {
    padding-top: 20px;
    flex-grow: 0;
}

.logo {
    width: 150px;
}

.nav-actions {
    margin-top: 15px;
    flex-grow: 0;
}

.nav-actions ul {
    list-style-type: none;
}

.nav-actions ul li {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.nav-actions ul li a:hover {
    color: white;
}

.nav-actions-logo {
    width: 24px;
}

.nav-actions a {
    text-decoration: none;
    color: gray;
    font-size: 13px;
    font-weight: bold;
    padding-left: 8px;
}

.nav-playlist {
    flex-grow: 1;
    margin-top: 20px;
}

.nav-playlist h3 {
    font-size: 14px;
    color: white;
}

.create-playlist {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.create-playlist:hover {
    color: white;
    cursor: pointer;
}

.create-logo {
    background-color: grey;
    font-size: 30px;
    font-weight: bold;
    padding: 0 10px;
}

.create-text {
    font-weight: bold;
    padding-left: 8px;
}

.create-text:hover {
    color: white;
    cursor: pointer;
}
.nav-playlist ul {
    list-style-type: none;
    margin-top: 15px;
    overflow-y: auto;
}

.nav-playlist ul li {
    line-height: 30px;
}

.nav-playlist ul li a:hover {
    color: white;
}

.nav-playlist a {
    text-decoration: none;
    color: grey;
    font-size: 13px;
    font-weight: bold;
}

.download-logo {
    width: 20px;
}

.nav-user {
    flex-grow: 0;
}

.install {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.install a {
    color: grey;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    padding-left: 8px;
}

.install a:hover {
    color: white;
}

.user-logo {
    width: 24px;
    background-color: grey;
}

hr {
    border: 0.5px solid gray;
}

.John-Doe {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.user-name {
    padding-left: 8px;
    font-size: 14px;
    font-weight: bold;
}
/* END MAIN NAV */



/* MAIN CONTENT */
.main-content {
    height: 100%;
    width: calc(100% - 250px);
    padding-top: 80px;
    background-color: #00091a;
    overflow-y: auto;
}

.main-content-menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-content-menu {
    margin-top: 15px;
}

.border {
    border-bottom: 2px solid #ccff00;
}

.main-content-menu a {
    color: grey;
    text-decoration: none;
    font-size: 13px;
    margin: 5px 10px;
    font-weight: bold;
}

.main-content-menu a:hover {
    color: white;
}

.section-title {
    margin-top: 40px;
}

.section-title h2 {
    font-size: 20px;
}

.section-items-container {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}

.section-item {
    width: calc(100% / 6 - 10px);
    margin: 0 5px;
}

.item-image {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    opacity: 0;
}

.item-image:hover .overlay {
    opacity: 0.5;
}

.item-icon {
    display: none;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 50px;
}

.item-image:hover .item-icon {
    display: block;
}

.item-image:hover {
    cursor: pointer;
}

.item-description {
    margin-top: 10px;
    text-align: center;
}

.item-title h3 {
    font-size: 14px;
}

.item-subtitle h4 {
    font-size: 12px;
    margin-top: 10px;
}


/* RESPONSIVE MEDIUM > 700PX  AND < 1100 */
@media screen and (max-width: 1100px) {
    .section-item {
        width: calc(100% / 4 - 10px);
    }
}

/* RESPONSIVE > 600PX AND < 700PX */
@media screen and (max-width: 700px) {
    .section-item {
        width: calc(100% / 2 - 10px);
    }
}
/* END MAIN CONTENT */

/* END MAIN */


/* FOOTER */
footer {
    width: 100%;
    height: 80px;
    background-color: #262626;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.song-playing {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song-playing-left {
    display: flex;
    align-items: center;
}

.song-playing-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20px;
}

.song-like:hover, .song-save:hover {
    color: white;
    cursor: pointer;
}

.song-control {
    width: 60%;
}

.song-volume {
    display: flex;
    align-items: center;
}

.song-image {
    width: 50px;
}

.song-name .author {
    font-size: 14px;
    font-weight: bold;
}

.song-name .name {
    font-size: 12px;
    font-weight: bold;
}

.song-name .name:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

.song-control-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.song-control-top > div {
    font-size: 16px;
}

.song-control-top .play-icon {
    font-size: 30px;
}

.song-control-top .play-icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.song-control-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.duration {
    width: 50%;
    height: 5px;
    background-color: grey;
    border-radius: 10px;
}

.duration-small {
    width: 100px;
    height: 5px;
    background-color: grey;
    border-radius: 10px;
}

.duration:hover .duration-listened {
    background-color: #ccff00;
    cursor: pointer;
}

.duration-small:hover .duration-listened {
    background-color: #ccff00;
    cursor: pointer;
}

.duration-listened {
    height: 100%;
    width: 20%;
    background-color: white;
    border-radius: 10px;
}
.listened, .remained {
    font-size: 12px;
}

.song-volume i {
    font-size: 12px;
}
/* END FOOTER */